.App,
div,
input,
button {
  margin: 10px;
}
.App{
  width:80%;
  margin:0 auto;
}
.container{
  width:80%;
}
button{
  font-weight: 700;
}
.user-type-button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: orange;
  cursor: pointer;
}
.user-type-button:hover {
  background-color: rgba(255, 166, 0, 0.85);
}

ul {
  background: orange;
  padding: 10px;
  border-radius: 5px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
  text-decoration-line: none;
}
link {
  text-decoration-line: none;
}
